@import '/components/variables.css';
@import '/components/searchbars.css';
@import '/components/add-ons.css';

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

i {
    width:1.875rem;
}

.fa-solid {
    width:1.875rem;
}


/* BOTTONI */

.btn {
    padding: 0.15rem 0.75rem ;
}

.btn-primary, .btn-warning {
    padding: 0.4rem 0.75rem;
    margin-top: 0.625rem;
}

/* TYPO */

.students span {
    font-size: 1.875rem;
}

/* COLORS */
.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.secondary-color-dark {
    background-color: var(--secondary-color-dark);
}

/* HEADER */

header {
    background-color: var(--primary-color);
    padding:0.625rem;
}

header .row:first-child .col-1{
    padding: 0;
}

.form-control {
    transition: border-color 0s, ease-in-out, box-shadow 0s ease-in-out;
    border:none;
}

.col-1 img {
    width: 3.125rem;
}

.col-1 a {
    color: #5a5858;
}

.fa-bell {
    color: #ff8f00;
}

.col-9 {
    position: relative
}

svg {
    position: absolute;
    display: block;
    left: 1.25rem;
    top: 0.625rem;
    bottom:0;
    width:1.25rem;
    color: #000;
}


::placeholder {
    font-size: 0.875rem;
}

/* ASIDE */

aside {
    padding: 1.25rem;
    background-color: var(--secondary-color-dark);
    background-image: url(/img/sidebar-bg.png);
    height:100%;
    flex-shrink: 0;
}

.icons-top, .icons-down {
    color:#fff;
    font-size: 1.25rem;
    transition: 0.2s ease-in-out;
}

span.d-none {
    font-weight: 300;
    color: #fff;
}

/* HOVER */

.icons-top:hover, .icons-down:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* RESPONSIVE */
@media screen and (min-width:768px) {
    aside {
        width: 12.5rem;
    }
}


/* MAIN */

.page-container {
    height: calc(100vh - 4.375rem);
}

main {
    overflow-y: auto;
    flex-grow: 1;
}

.main-top {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    color:#fff;
}

span.badge {
    font-size: 1.125rem;
    font-weight: 400;
}

.badge {
    border-radius: 1.875rem;
}

.bg-secondary {
    --bs-bg-opacity: 0;
    background-color: rgba(0, 0, 0, 0.3)!important;
}

/* TABLE */

td img {
    width: 3.125rem;
    margin-right: 0.625rem;
}

.card-header .plus {
    color:var(--secondary-color)
}

td {
    line-height: 4.1875rem;
}

td .plus {
    border-color: #6c757d;
    margin-right:0.625rem;
}

td .plus a {
    color: #6c757d;
}

th:not(:first-child) {
    width: 25%
}

/* HOVER */

.card-header .plus:hover {
    background-color: rgb(177, 192, 232);
}

td .plus:hover {
    background-color: #d9d9d9;
}

/* RESPONSIVE */

@media screen and (min-width:768px) {
    th:not(:first-child) {
        width: 19%
    }   
}

@media screen and (min-width:1200px) {
    th:first-child {
        width: 30%;
    }    
}

@media screen and (min-width:1400px) {
    th:first-child {
        width: 50%;        
    }
    th:not(:first-child) {
        width: 20%
    }
}

/* TODO */

.form-check {
    border:0.0625rem solid #d8d8d8;
    padding:0.625rem 2.5rem;
}

/* OFFCANVAS */

.form-control {
    border: 0.0625rem solid #d8d8d8;
}

.offcanvas.offcanvas-start {
    right:0;
    transform: translate(100%);
    left:calc(100vw - 25rem);
}
