@import 'variables.css';

body {
    font-family: 'Roboto', sans-serif;
}

/* COLORS */
.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.secondary-color-dark {
    background-color: var(--secondary-color-dark);
}

/* HEADER */

header {
    height: 70px;
    background-color: var(--primary-color);
}

/* MAIN */

.page-container {
    height: calc(100vh - 70px);
}

aside {
    padding: 20px;
    background-color: var(--secondary-color-dark);
}

main {
    background-color: var(--secondary-color);
    overflow-y: auto;
    flex-grow: 1;
}