@import 'variables.css';
@import 'searchbars';

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* COLORS */
.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.secondary-color-dark {
    background-color: var(--secondary-color-dark);
}

/* HEADER */

header {
    background-color: var(--primary-color);
    padding: 0.625rem;
}

.col-1 img {
    width: 3.75rem;
}

.col-1 a {
    color: #5a5858;
}


.lens .form-control {
    padding-left: 2.375rem;
    background-color: #e5e5e5;
}

.lens .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.fa-bell {
    color: #ff8f00;
}

.col-9 {
    position: relative
}

svg {
    position: absolute;
    display: block;
    left: 20px;
    top: 10px;
    bottom:0;
    width:20px;
    color: #000;
}


::placeholder {
    font-size: 14px;
}

/* RESPONSIVE */
@media screen and (min-width:992px) {
    aside {
        width: 9.375rem;
    }
}

/* MAIN */

.page-container {
    height: calc(100vh - 4.375rem);
}

aside {
    padding: 1.25rem;
    background-color: var(--secondary-color-dark);
}

main {
    background-color: var(--secondary-color);
    overflow-y: auto;
    flex-grow: 1;
}

.col-12 {
    background-color: #ff8f00;
    border: 1px dashed red;
    height: 200px;
}

.row {
    border: 1px solid black;
}